
<h2>Create Auction</h2>

<form method="post">
    <label>Title</label>
    <input name="Title" />

    <br />
    <label>Description</label>
    <input name="Description" />

    <br />
    <label>Actual Price</label>
    <input name="ActualPrice" />

    <br />
    <label>Starting Time</label> 
    <input name="StartingTime" />

    <br />
    <label>Ending Time</label>
    <input name="EndingTime" />

    <br />
    <button>Save</button>
</form>