
<h2>Create Auction</h2>

<form id="createForm">
    <label>Title</label>
    <input name="Title" />

    <br />
    <label>Description</label>
    <input name="Description" />

    <br />
    <label>Actual Price</label>
    <input name="ActualPrice" />

    <br />
    <label>Starting Time</label> 
    <input name="StartingTime" />

    <br />
    <label>Ending Time</label>
    <input name="EndingTime" />

    <br />
    <button type="button" id="saveBtn">Save</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            url: '/Auctions/Create',
            method: 'Post',
            data: $("#createForm").serialize(),
        }).done(function (response) {
            debugger;
            $("#listingArea").html(response);
        }).fail(function () {
            alert("Fail");
        });
    })
</script>