
<div class="row">
    <div class="col-lg-12">
        <h2>Auctions</h2>

        <div id="listingArea">
            @{
                Html.RenderAction("Listing");
            }
        </div>

        <div>
            <!-- Button trigger modal -->
            <button class="btn btn-success" id="createBtn">Create new auction</button>
        </div>

        <!-- Modal modal must be out of listingdiv to dismiss it and update list after creating and editing -->
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="actionArea">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#createBtn").click(function () {
        $.ajax({
            url: '/Auctions/Create',
            method: 'Get',

        })
        .done(function (response) {
            $("#formModal").modal("toggle");
            $("#actionArea").html(response);
        })
    });
</script>



