<div class="modal-header">
    <h5 class="modal-title">Create Categroy</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="createForm">
    <div class="modal-body">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" id="Name" />
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description" />
        </div>

        <div id="divError" class="form-group alert alert-danger" style="display:none;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveBtn">Save</button>
    </div>
</form>


<script>

    //form validation
    $("#createForm").validate({
        rules: {
            Name: {
                required: true,
                minlength: 10,
                maxlength: 125
            },
            Description: {
                maxlength: 400
            }
        },
        messages: {
            Name: {
                required: "Name is rquired.",
                minlength: "Minmum length is 10",
                maxlength: "Maximum length is 125"
            },
            Description: {
                maxlength: "Maximum length is 400."
            }
        },
        errorClass: "text-danger"
    })

    $("#saveBtn").click(function () {
        if ($("#createForm").valid()) {
            $.ajax({
                url: '@Url.Action("Create","Categories")',
                type: 'Post',
                data: $("#createForm").serialize(),
            }).done(function (response) {
                if (response.success) {
                    GetCategories();
                } else {
                    $("#divError").html(response.message);
                    $("#divError").show();
                }
            }).fail(function () {
                swal("Error!", "Something went wrong.", "error");
            });
        }
    });
</script>
