@model CategoryDetailsViewModel

<div class="row">

    <div class="col-lg-12">

        <div class="card mt-4">

            <div class="card-body">
                <h3 class="card-title">@Model.Category.Name</h3>
                <p class="card-text">@Model.Category.Description</p>
            </div>
        </div>
    </div>
</div>
