@model CategoryViewModel

<div class="modal-header">
    <h5 class="modal-title">Edit Category</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="editForm">
    <div class="modal-body">
        <input type="hidden" name="Id" value="@Model.Category.Id" />

        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" id="Name" value="@Model.Category.Name" />
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description" value="@Model.Category.Description" />
        </div>

        <div id="divError" class="form-group alert alert-danger" style="display:none;"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="updateBtn">Update</button>
    </div>

</form>

<script>
    //form validation
    $("#editForm").validate({
        rules: {
            Name: {
                required: true,
                minlength: 10,
                maxlength: 125
            },
            Description: {
                maxlength: 400
            }
        },
        messages: {
            Name: {
                required: "Name is rquired.",
                minlength: "Minmum length is 10",
                maxlength: "Maximum length is 125"
            },
            Description: {
                maxlength: "Maximum length is 400."
            }
        },
        errorClass: "text-danger"
    })

    $("#updateBtn").click(function () {
        if ($("#editForm").valid()) {
            $.ajax({
                url: '@Url.Action("Edit","Categories")',
                method: 'Post',
                data: $("#editForm").serialize(),
            }).done(function (response) {
                if (response.success) {
                    GetCategories();
                    $("#formModal").modal("toggle");
                } else {
                    $("#divError").html(response.message);
                    $("#divError").show();
                }
            }).fail(function () {
                swal("Error!", "Something went wrong.", "error");
            });
        }
    })
</script>