
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
        <h1 class="display-4">Hi, @User.Identity.Name!</h1>
        <p class="lead">This is a dashboard for controling everything in your website.</p>
    </div>
</div>